extends layout

block content
  h1 Login
  
  if message
    p.error= message

  form(method='POST', action='/authentication/login')
    div.form-group
      label(for='username') Username:
      input#username.form-control(type='text', name='username')

    div.form-group
      label(for='password') Password:
      input#password.form-control(type='password', name='password')

    button.btn.btn-primary(type='submit') Login

  p Don't have an account? 
  a.btn.btn-secondary(href='/authentication/signup') Sign Up